{{# each collections.post }}
	{{#if_even @index}}
		<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
	{{else}}
		<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">	
	{{/if_even}}
		<div class="content">
			<h2>{{ strip-html this.title }}</h2>
			{{ strip-html this.excerpt }}
			<ul class="actions vertical">
				<li><a href="./{{ this.path }}/index.html" class="button">Read more</a></li>
			</ul>
		</div>
		<div class="image">
			<img src="{{ this.featuredImage }}?w=540" alt="" />
		</div>
	</section>
{{/ each }}