<!DOCTYPE HTML>
<!--
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	<head>
		<link rel="dns-prefetch" href="//{{ wordpressURL }}" />
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		{{# if excerpt }}
		<meta name="description" content="{{{ strip-html excerpt }}}">
		{{ else }}
		<meta name="description" content="{{ strip-html site.description }}">
		{{/ if }}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i">
		<link rel="stylesheet" href="../../css/main.css" />
		{{> twitter-card-facebook-og }}
	</head>
	<body>
		<div id="wrapper" class="divided">